{% extends '/cab/components/dashboard_header.html' %} {% block controller%}adminCabController{% endblock %} {% block
    content%}
    <h3>Enter Cab Details</h3>
    
    <div class="row">
        <div class="col-sm-6">
            <!-- <form> -->
            <form class="form-horizontal" ng-submit="createCab()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Cab Type:</label>
                        <br>
                        
                        <select ng-model="cab.cab_type">
                            <option value disabled selected>-- select cab type --</option>
                            <option value="[[$index+1]]" ng-repeat="type in cab_types">[[type]]</option>
                        </select>
    
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Car Name:</label>
                        <input type="text" class="form-control" ng-model="cab.car_name" ng-required="true">
    
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Rating(out of 10.0):</label>
                        <input type="number" class="form-control" step="any" ng-model="cab.rating" ng-required="true">
                    </div>
                </div>
            </div>
    
    
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" ng-model="cab.desc" ng-required="true"></textarea>
            </div>
    
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <br>
                        <!-- <input type="text" class="form-control" ng-model="" ng-required="true"> -->
                        <select ng-model="cab.city" ng-required="true">
                            <option value disabled selected>--Select Your Location--</option>
                            <option value="[[location]]" ng-repeat="location in locations">[[location]]</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Car Type:</label>
                        <br>
                        <select ng-model="cab.car_type" ng-required="true">
                            <option value disabled>-- select car type --</option>
                            <option value="[[$index+1]]" ng-repeat="type in car_types">[[type]]</option>
                        </select>
    
                    </div>
                </div>
            </div>

            <div>
                <label>Cab Image </label>

                <div ng-repeat="imageData in cab.images" class="mt10">
                    <button class="btn btn-danger pull-right" ng-click="cab.images.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_images">remove</button>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>
                                URL
                                <input type="text" ng-model="imageData.image_url" class="form-control" ng-disabled="disable_images" ng-required="true">
                                <img class="img-responsive img-thumbnail img-small50" ng-show="imageData.image_url" src="[[imageData.image_url]]" alt="[[imageData.image_url]]">
                            </span>
                        </div>
                       
                    </div>
                </div>
    
                <button class="btn btn-default" formnovalidate ng-click="addImg()" ng-disabled="disable_images">Add More Images</button>
            </div>

            <fieldset>
                <h4>Amenity</h4>
                <div class="row">
    
                    <div class="col-sm-4 panel h25" ng-repeat=" (amenity_key, amenity_value) in  amenities">
    
                        <label>
                            
                            <input type="checkbox" ng-model="cab.amenities[amenity_key]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_amenity">[[amenity_key]]
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fuel Capacity:</label>
                            <input type="number" class="form-control" ng-model="cab.amenities.fuel_capacity" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fuel Type:</label>
                                <br>
                                <select ng-model="cab.amenities.fuel_type" ng-required="true">
                                    <option value disabled>-- select fuel type --</option>
                                    <option value="[[$index+1]]" ng-repeat="type in fuel_types">[[type]]</option>
                                </select>
            
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Seater:</label>
                            <input type="number" class="form-control" ng-model="cab.amenities.seater" ng-required="true">
        
                        </div>
                    </div>
                </div>

                 
    
            </fieldset>
            <div ng-repeat="association in cab.association">
                <button class="btn btn-danger pull-right" ng-click="cab.association.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_association">remove</button>
    
                <div class="row">
    
                    <div class="col-sm-6">
    
                        <div class="form-group">
                            <h4>Collection</h4>
                            <div ng-show="!$parent.addNewCollection[$index]">
                                <select ng-model="association.collections.collection_id" ng-disabled="disable_association">
                                    <option value disabled selected> -- Select Collection --</option>
    
                                    <option value="[[collectionData.id]]" ng-repeat="collectionData in collection">[[collectionData.collection_name]]</option>
                                </select>
                                or
                                <button class="btn btn-default" ng-click="$parent.addNewCollection[$index] = true" ng-disabled="disable_association">Add Collection</button>
                            </div>
                            <div ng-show="$parent.addNewCollection[$index]">
                                <label>Collection name</label>
                                <input type="text" ng-model="association.collections.collection" class="form-control">
                                <label>Image</label>
                                <input type="text" ng-model="association.collections.image" class="form-control">
                                <label>Short description</label>
                                <input type="text" ng-model="association.collections.desc" class="form-control">
                                <label>featured on home page?</label>
                                <input type="checkbox" ng-model="association.collections.featured" ng-true-value="true" ng-false-value="false">
                                <br>
                                <button class="btn btn-default" ng-click="$parent.addNewCollection[$index] = false;">cancel</button>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
    
                            <h4>Product</h4>
                            <div ng-if="!addNewProduct[$index]">
                                <select ng-model="association.products.product_id" ng-disabled="disable_association">
                                    <option value disabled selected> -- Select product --</option>
                                    <option value="[[productData.id]]" ng-repeat=" productData in  product">[[productData.product]]</option>
                                </select>
                                or
                                <br>
                                <button class="btn btn-default" ng-click="$parent.addNewProduct[$index] = true" ng-disabled="disable_association">Add Product</button>
                            </div>
    
                            <div ng-if="addNewProduct[$index]">
                                <label>Product name</label>
                                <input type="text" ng-model="association.products.product_name" class="form-control">
                                <label>Product Url</label>
                                <input type="text" ng-model="association.products.product_url" class="form-control">
                                <label>Image</label>
                                <input type="text" ng-model="association.products.product_image" class="form-control">
                                <label>Short description</label>
                                <input type="text" ng-model="association.products.product_desc" class="form-control">
                                <label>featured on home page?</label>
                                <input type="checkbox" ng-model="association.products.featured_product" ng-true-value="true" ng-false-value="false">
                                <br>
                                <button class="btn btn-default" ng-click="$parent.addNewProduct[$index] = false;">cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button formnovalidate class="btn btn-default" ng-click="addMoreAssociation()" ng-disabled="disable_association">Add more association</button>
    
    

            <div class="mt10" ng-repeat=" deal in cab.deals">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="btn btn-danger pull-right" ng-click="cab.deals.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_deal">remove</span>

                        <h4>Deal #[[$index+1]]</h4>
                    </div>
                    <!-- <div class="col-sm-6" style="display:inline-block; background-color: #9a9292; color: white;border-radius: 100%;text-align: center; width: 24px; ">
                        [[cabDeals.length]]
                    </div> -->
                </div>
                <div class="row" ng-show="myVar">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Website name:</label>
                            <select class="form-control" ng-model="deal.website_id" ng-required="true" ng-disabled="disable_deal">
                                <option ng-repeat="obj in websites" value="[[obj.id]]">[[obj.website]]</option>
                            </select>  
                        </div>
                    </div>      

                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#website" ng-click="show()">add new website</button>
                    </div>
                
                </div>

                <div id="website" class="collapse">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Website name:</label>
                                <input type="text" class="form-control" ng-model="deal.website.website" >           
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Website logo image:</label>
                                <input type="text" class="form-control" ng-model="deal.website.logo_image">
                            </div>
                        </div>
                    </div>
                </div>

                <div> <!-- id="deal" class="collapse" -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Base Fare:</label>
                                <input type="number" class="form-control" ng-model="deal.base_fare" ng-required="true" ng-disabled="disable_deal">           
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Base Fare Peak Season:</label>
                                <input type="number" class="form-control" ng-model="deals.base_fare_peak_season" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Base Fare Weekend:</label>
                                <input type="number" class="form-control" ng-model="deal.base_fare_weekend"ng-required="true" ng-disabled="disable_deal" >
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Base Fare with Fuel:</label>
                                <input type="number" class="form-control" ng-model="deal.base_fare_with_fuel" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cancellation Charge:</label>
                                <input type="number" class="form-control" ng-model="deal.cancellation_charges" ng-required="true" ng-disabled="disable_deal">            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Car Night Allowance Charge:</label>
                                <input type="number" class="form-control" step="any" ng-model="deal.car_night_allowance_charge" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Driver Daily Allowance Charge:</label>
                                <input type="number" class="form-control" ng-model="deal.driver_daily_allowance_charge" ng-required="true" ng-disabled="disable_deal">
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Different pickup drop point Charge:</label>
                                <input type="number" class="form-control" step="any" ng-model="deal.different_pickup_drop_point_charge" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fare exceeded per Km:</label>
                                <input type="number" class="form-control" ng-model="deal.fare_exceeded_per_km" ng-required="true" ng-disabled="disable_deal">
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fare exceeded per Hr:</label>
                                <input type="number" class="form-control" step="any" ng-model="deal.fare_exceeded_per_hr" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Initial Km:</label>
                                <input type="number" class="form-control" ng-model="deal.initial_km"ng-required="true" ng-disabled="disable_deal">
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Initial Km Fare:</label>
                                <input type="number" class="form-control" step="any" ng-model="deal.initial_km_fare" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Km Restriction:</label>
                                <input type="number" class="form-control" ng-model="deal.km_restriction" ng-required="true" ng-disabled="disable_deal">
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Slab:</label>
                                <input type="number" class="form-control" step="any" ng-model="deal.slab" ng-required="true" ng-disabled="disable_deal">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>
                                <input type="checkbox" ng-model="deal.one_way" ng-required="true" ng-disabled="disable_deal">One Way
                                </label>
            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>
                                <input type="checkbox" step="any" ng-model="deal.outstation" ng-required="true" ng-disabled="disable_deal">Outstation
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <br>
                                <label>
                                    <input type="checkbox" ng-model="deal.is_partner" ng-true-value="true" ng-false-value="false" ng-required="true" ng-disabled="disable_deal">Is partner?
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cab Url: </label>
                                    <input  class="form-control" id="name"  ng-model="deal.cab_url" type="text" ng-required="true" ng-disabled="disable_deal">
                                </div>
                            </div>
                        </div>   

                        <div class="form-group">        
                            <div class="col-sm-6">
                                <button class="btn btn-default" ng-click="addMoreDeal()" ng-disabled="disable_deal">Add More Deals</button>
                            </div>
                        </div>
                    </div>
                </div>
    
           
            
                <button class="btn btn-default" ng-click="this[functionCalling]()">[[functionCalling]]</button>
                <button class="btn btn-default" ng-click="functionCalling = 'Add'" ng-show="functionCalling == 'Update'">Cancel</button>
            <!-- <button type="submit" class="btn btn-success">Add</button> -->
            </form>
            <!-- </form> -->
            <hr>
    </div>

    <div class="col-sm-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#monthly" ng-click="cabType(1)">Monthly Rental</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sight" ng-click="cabType(2)">Sight Seeing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#luxury" ng-click="cabType(3)">Luxury</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#outstation" ng-click="cabType(4)">Outstation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#self" ng-click="cabType(5)">Self Drive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#hire" ng-click="cabType(6)">Hire a Driver</a>
        </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="monthly" class=" tab-pane active"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button" ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="sight" class="tab-pane fade"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button"  ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="luxury" class="tab-pane fade"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button"ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div id="outstation" class="tab-pane fade"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button"  ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div id="self" class="tab-pane fade"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button" onclick="hide('add'),show('edit')" ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div id="hire" class="tab-pane fade"><br>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                        <div class="thumbnail">
                            <img ng-src="[[cab.images[0].image_url]]" alt="">
                            <div class="caption">
                                <h4>[[cab.car_name]]</h4>
                                <p>
                                    <span>location :
                                        <span>[[cab.city]]</span>
                                    </span>
                                </p>
                                <p>
                                    <button class="btn btn-primary" role="button" ng-click="$parent.editCab(cab)">Edit</button>
                                    <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
    
        <!-- <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
            </div>
    
            <div class="row">
                <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                    <div class="thumbnail">
                        <img ng-src="[[cab.images[0].image_url]]" alt="">
                        <div class="caption">
                            <h4>[[cab.car_name]]</h4>
                            <p>
                                <span>location :
                                    <span>[[cab.city]]</span>
                                </span>
                            </p>
                            <p>
                                <button class="btn btn-primary" role="button" ng-click="$parent.editCab(cab)">Edit</button>
                                <button class="btn btn-default" role="button" ng-click="deleteCab(cab.id, $index)">Delete</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    
    
    </div>
    
    {% endblock%}