{% extends '/cab/components/dashboard_header.html' %} {% block controller%}dashboardAmenityController{% endblock %}
{% block content %}



<div class="row">
    <div class="col-sm-6">
        <h3>Edit Amenity</h3>
        <div class="row">

            <div class="col-sm-4 panel h25" ng-repeat=" (amenity_key, amenity_value) in  amenities">

                <label>
                    [[amenity_key]]
                    <input type="checkbox" ng-model="cabData.amenities[amenity_key]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_amenity">
                </label>
            </div>
        </div>

        <button class="btn btn-default" ng-disabled="disable_update" ng-click="update()">Update</button>

    </div>
    <div class="col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#monthly" ng-click="cabType(1)">Monthly Rental</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#sight" ng-click="cabType(2)">Sight Seeing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#luxury" ng-click="cabType(3)">Luxury</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#outstation" ng-click="cabType(4)">Outstation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#self" ng-click="cabType(5)">Self Drive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#hire" ng-click="cabType(6)">Hire a Driver</a>
            </li>
          </ul>
        <h3>Choose restaurant to update or delete amenity.</h3>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
        </div>

        <div class="row">
            <div class="col-sm-4" ng-repeat="cab in cabs | filter: search">
                <div class="thumbnail">
                    <img ng-src="[[cab.images[0].image_url]]" alt="">
                    <div class="caption">
                        <h4>[[cab.car_name]]</h4>
                        <p>
                            <span>location :
                                <span>[[cab.city]]</span>
                            </span>
                        </p>
                        <p>
                            <button class="btn btn-primary" role="button" ng-click="$parent.editAmenity(cab)">Edit</button>
                            <!-- <button class="btn btn-default" role="button" ng-click="deleteAmenity()">Delete</button> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>



{% endblock %}