{% extends '/cab/components/dashboard_header.html' %} {% block controller%}dashboardCollectionController{% endblock
    %} {% block content %}
    
    <div class="row">
        <div class="col-md-6">
            <h3>Edit Collection</h3>
    
            <div ng-show="!addCollection">
    
                
            </div>
    
            <div ng-show="addCollection">
                <div ng-repeat="collection in restaurantData.collections">
                    <button class="btn btn-danger pull-right" ng-click="restaurantData.collections.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_association">remove</button>
    
                    <label>Collection name</label>
                    <input type="text" ng-model="collection.collection" class="form-control">
                    <label>Image</label>
                    <input type="text" ng-model="collection.image" class="form-control">
                    <label>Short description</label>
                    <input type="text" ng-model="collection.desc" class="form-control">
                    <label>featured on home page?</label>
                    <input type="checkbox" ng-model="collection.featured" ng-true-value="true" ng-false-value="false">
    
                </div>
                <button class="btn btn-default" ng-click="addMore()" style="margin:10px 0;">add more</button>
    
    
            </div>
    
    
    
            <button class="btn btn-success" ng-disabled="disable_update" ng-click="this[functionCall]()">[[functionCall]]</button>
            <button class="btn btn-default" ng-show="!addCollection" ng-click="addMoreCollection()">Add new collection</button>
    
        </div>
    
        
    </div>
    
    
    {% endblock %}